html{
  background-color: lightgray;
}

.App {
  text-align: center;
  background-color: lightgray;
}

.arrow{
  margin-top: 15%;
  cursor: pointer;
  color: dimgray;
}

.arrow:hover {
  color: black;
}

.giftForm{
  cursor: pointer;
}

.cardContent{
  text-align: left;
}